/* src/components/BlogPost.css */
.blog-post {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 20px 0;
    width: 350px;
    height: 380px;
  }
  
  .blog-post img {
    width: 100px;
    height: 100px;

  }
  
  .likeBtn{
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 14px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }

  .likeBtn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
  }

.dislikeBtn {
    background: #d93434;
    background-image: -webkit-linear-gradient(top, #d93434, #2b34b8);
    background-image: -moz-linear-gradient(top, #d93434, #2b34b8);
    background-image: -ms-linear-gradient(top, #d93434, #2b34b8);
    background-image: -o-linear-gradient(top, #d93434, #2b34b8);
    background-image: linear-gradient(to bottom, #d93434, #2b34b8);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 14px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}
  .blog-post button {
    margin: 5px;
  }
 
  